<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      th:with="title='Springer'">

<body>

<div layout:fragment="content">

    <div class="span9">
        <div class="content">

            <!--check for status-->
            <div th:if="${status=='success'}" class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Success</strong>Request accepted for processing
            </div>

            <div th:if="${status=='info'}" class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong></strong>Request not processed
            </div>

            <div th:if="${status=='error'}" class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Failed,</strong> Request failed
            </div>
            <!-- end check for response status-->
            <div class="module">
                <div class="module-head">
                    <h3> Mpesa TopUp </h3>
                </div>
                <div class="module-body form-horizontal">

                    <form class="form-horizontal row-fluid" action="#" th:action="@{/topup}" th:object="${topup}"
                          method="post">
                        <div class="control-group">
                            <label class="control-label" for="basicinput">phone number</label>
                            <div class="controls">
                                <input type="text" th:field="*{msisdn}" id="basicinput" class="span8"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="amount">Amount : KES</label>
                            <div class="controls">
                                <input type="text" th:field="*{amount}" id="amount" class="span8"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="code">Acount</label>
                            <div class="controls">
                                <input type="text" th:field="*{code}" id="code" class="span8"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input type="submit" class="btn" th:value="TOPUP"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>